body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*100% de display da tela*/
    margin: 0;
    background-color: red;
}

.container{
    display: flex;
    gap: 35px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    animation: moveUpDown 2s infinite ease-in-out;
}

@keyframes moveUpDown{
    0%, 
    100%{
        transform: translateY(-50px);
    }

    50%{
        transform: translateY(50px);
    }
}